database:
    name: digobo
    username: digobo
    password: digobo
    host: 127.0.0.1
    port: 5432
discord:
    token:
log:
    lvl: debug
    to-stdout: true
bot:
    command-prefix: '!'
    default-embed-color: 16711680
apps:
    osu:
        client_id:
        client_secret:
    twitch:
        client_id:
        client_secret: